/*
Title: To Do List
Version: 1.0
Author: Marine-Lou
Design: Marine-Lou
Last Update: 25-11-2022

/ STRUCTURE /
body
    header
    main
        section#assTask
            form
                input
                textarea
                button
        section#taskAdded
            article#newTask
                h1
                div
                    h2
                    p
     footer
         img

[-> Sorted by Order

/ TYPE /
Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900

/ COLORS /
blue #afddef
grey #e2e2e2
blue-grey #819da5

*/

body {
    font-family: 'Montserrat', sans-serif;
    background-image:url("../img/ToDoList_background.png");
    background-attachment: fixed;
    background-size: cover;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
    padding: 0 20px 0 20px;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
}

header img {
    width: 250px;
}

/* ADD TASKS */
section#addTask {
    background-color: #e2e2e2;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px #819da5;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 300px;
    height: 20px;
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: white;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 5px black inset !important;
}

input:autofill {
    box-shadow: 0 0 0 5px black inset !important;
}

textarea {
    width: 300px;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    resize: vertical;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 20px;
    border: none;
    background-color: white;
}

button img {
    width: 30px;
}

button:hover, input:hover, textarea:hover{
    background-color: #afddef;
}

/* TASKS */
.d-none {
    display: none;
}

section#taskAdded {
    background-color: #afddef;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #819da5;
    min-width: 320px;
    max-width: 600px;
    margin-bottom: 60px;
}

div.newTask {
    margin-bottom: 30px;
}

h1 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

h2 {
    font-size: 16px;
    text-align: left;
}

p {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 30px;
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
footer img {
    margin-bottom: 5px;
    width: 150px;
}
a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    text-decoration: none;
}